.example {
  background-color: $example-gray;
}

.example__container {
  padding-top: 27px; // отступ от заголовка
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__progress {
  position: relative;
  width: 124px;
  min-height: 56px;
  border-radius: 3px;
  border: 1px solid $light-gray;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.example__progress-result {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
}

.example__progress-text {
  position: absolute;
  left: 15px;
  top: 47px;
  width: 80px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $example-gray;
}

.example__price-text {
  font-family: $arial;
  margin: 0;
  margin-bottom: 42px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}
