.program__container {
  margin-bottom: 27px; // отступ между блоком program и блоком advantages

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.program__list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program__item {
  position: relative;
  background-color: $gray;
  padding-top: 27px; // отступ для заголовков
  padding-bottom: 22px; // отступ блока с фоном
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px; // отступ между элементами

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .program__item {
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program__item {
    width: 570px;
    margin-bottom: 0;
  }
}

.program__icon {
  position: relative;
  padding-left: 70px;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -5px;
    left: 1px;
    background-color: $green;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .program__icon {
    padding-left: 0;

    &::after {
      width: 200px;
      height: 200px;
      left: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program__icon {
    padding-left: 140px;

    &::after {
      width: 100px;
      height: 100px;
      top: -25px;
      left: 1px;
    }
  }
}

.program__icon--slim::before {
  content: "";
  position: absolute;
  min-width: 36px;
  min-height: 50px;
  top: -8px;
  left: 9px;
  background-image: url("../img/program-slim-cat.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    min-height: 192px;
    top: 80px;
    left: 480px;
  }

  @media (min-width: $desktop-width) {
    min-width: 70px;
    min-height: 97px;
    top: 8px;
    left: 30px;
  }
}

.program__icon--pro::before {
  content: "";
  position: absolute;
  min-width: 67px;
  min-height: 28px;
  top: 8px;
  left: -7px;
  background-image: url("../img/program-pro-cat.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    min-height: 192px;
    top: 80px;
    left: 460px;
  }

  @media (min-width: $desktop-width) {
    min-width: 70px;
    min-height: 97px;
    top: 8px;
    left: 15px;
  }
}

.program__item-title {
  @include caption;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}


.program__item-text {
  position: relative;
  font-family: $arial;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $medium-gray;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 52px;
    border-bottom: none;

    &--slim {
      padding-right: 220px;
    }

    &--pro {
      padding-right: 262px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    width: 550px;

    &--slim {
      padding-right: 52px;
    }

    &--pro {
      padding-right: 52px;
    }
  }
}

.program__item-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 16px;
  padding-top: 19px;
  margin-bottom: 22px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: -35px;
    width: 24px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.program__item-button:active {
  opacity: 0.3;
}
