.promo {
  background-size: 100%;
  background-image:
    linear-gradient(to top, $white 177px, rgba(104, 183, 56, 0.85) 177px),
    url("../img/index-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__container {
  padding-top: 27px; // отступ от заголовка promo__title в блоке promo
  margin-bottom: 22px; // отступ между блоком promo и блоком program

  @media (min-width: $tablet-width) {
    padding-top: 62px; // отступ от заголовка promo__title в блоке promo
    padding-left: 117px;
    margin-bottom: 200px; // отступ между блоком promo и блоком program
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
    padding-left: 190px;
    margin-bottom: 322px;
  }
}


.promo__title {
  @include caption;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: $font-weight-normal;
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 41px;
    width: 420px;
    z-index: 2;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__text {
  margin: 0 auto;
  margin-bottom: 28px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 49px;
    z-index: 2;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: 100px;
  }
}

.promo__button {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 244px;
    z-index: 2;
  }
}
