.catalog {
  border-top: 1px solid $medium-gray;
}

.catalog__container {
  padding-top: 27px;
  margin-bottom: 25px;
}

.catalog__title {
  @include caption;
  font-size: 36px;
  line-height: 36px;
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  padding-top: 19px;
  margin-bottom: 50px;
}
