.extra {
  position: relative;

  &::after {
    @include green-border;
    top: 15px;

    @media (min-width: $tablet-width) {
      top: 21px;
    }
  }
}

.extra span {
  position: relative;

  &::after {
    @include white-background;
    width: 275px;

    @media (min-width: $tablet-width) {
      width: 395px;
    }
  }
}

.extra__container {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 0;

    .extra__action {
      margin: 0;
    }
  }
}

.extra__title {
  @include caption;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 81px;
    padding: 0 38px;
  }
}

.extra__flex-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.extra__list {
  @include reset-list;
}

.extra__item {
  border-top: 1px solid $light-gray;
  padding-top: 13px;
  margin-bottom: 19px;

  &:last-child {
    border-bottom: 1px solid $light-gray;
    margin: 0;
    padding-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    width: 895px;
    margin-right: 0;
  }
}

.extra__item-title {
  @include caption;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 13px;
  color: $special-gray;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-left: 38px;
  }

  @media (min-width: $tablet-width) {
    width: 305px;
  }
}

.extra__item-info {
  display: flex;
  justify-content: space-between;
  font-family: $arial;
  line-height: 14px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 287px;
  }
}

.extra__item-info dd {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra__item-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    width: 244px;
    margin: 0;
  }
}

.extra__action {
  min-width: 280px;
  min-height: 289px;
  margin-top: 39px;
  background-image: url("../img/icon-extra-gift.svg"), url("../img/extra-gift.jpg");
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center top 58px, center;
  background-size: 78px 80px, cover;

  @media (min-width: $desktop-width) {
    min-width: 245px;
    width: 245px;
    margin: 0;
  }
}

.extra__text {
  position: relative;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-top: 186px;
  text-align: center;
  color: $white;
}
