.product__title {
  @include caption;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $special-gray;
}

.product__info {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
}

.product__description {
  @include caption;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: $dark-black;
}

.product__text {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}
