.field-text__label {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 16px;
  color: $dark-gray;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-text--textarea .field-text__label {
  margin-right: 0;
}

.field-text__input {
  width: 100%;
  min-width: 80px;
  margin: 0;
  padding: 11px 15px;
  border: 1px solid $hyper-gray;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;

  &::placeholder {
    color: $dark-gray;
  }

  &:hover,
  &:focus {
    border-color: $light-gray;
  }

  &:disabled {
    border: 2px solid $dark-gray;
  }
}

@media (min-width: $tablet-width) {
  .field-text__input {
    font-size: 20px;
    line-height: 30px;
    margin-right: 37px;
    padding: 10px 15px;
  }

  .field-text--textarea {
    margin-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .field-text__input,
  .field-text--textarea {
    margin-right: 0;
  }

  .field-text--blank-1 .field-text__input {
    width: 506px;
  }

  .field-text--blank-2 .field-text__input {
    width: 477px;
  }

  .field-text--blank-3 .field-text__input {
    width: 436px;
  }

  .field-text--email .field-text__input {
    width: 486px;
  }

  .field-text--phone .field-text__input {
    width: 472px;
  }
}

.field-text--textarea {
  flex-wrap: wrap;

  .field-text__input {
    min-height: 150px;
    resize: none;
  }
}

// убирает авто-иконки в браузере Safari
.field-text__input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
}

// убирает авто-иконки в браузерах
.field-text__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.field-text__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.field-submit__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 45px;
    width: auto;
  }
}

.field-submit__note {
  margin: 0;
  line-height: 16px;
  font-family: $arial;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}
