.form {
  position: relative;
  border-top: 1px solid $medium-gray;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $medium-gray;
  }

  &::before {
    top: 368px;
  }

  &::after {
    top: 537px;
  }
}

@media (min-width: $tablet-width) {
  .form {
    border: none;

    &::before,
    &::after {
      border: none;
    }
  }
}

.form__container {
  padding-top: 27px; // Отступ для заголовка
  margin-bottom: 39px; // Отступ от блока form до блока form__module--info

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 87px;
  }
}

.form__title {
  @include caption;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__text {
  margin: 0;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__module {
  padding: 0;
  margin: 0;
  border: none;
}

.form__module--info .form__field,
.form__module--adress .form__field,
.form__module--comment .form__field {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form__module--adress .form__field {
    margin-bottom: 0;
  }
}

.form__module--info {
  position: relative;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px; // отступ блока form__module--info до блока form__module--program
  }
}

@media (min-width: $tablet-width) {
  .form__module--info,
  .form__module--program {
    border: none;
  }
}

.form__module--program {
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px; // отступ блока form__module--program до блока form__module--address
  }
}

.form__module-program-wrapper {
  @media (min-width: $tablet-width) {
    border: 1px solid $hyper-gray;
    margin-right: 37px;
    padding: 25px 28px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 570px;
  }
}

.form__module--program .form__field {
  margin: 0;
  margin-bottom: 23px; // расстояние между радиокнопками

  &:last-child {
    margin-bottom: 0;
  }
}


.form__module--adress {
  position: relative;
  margin-bottom: 24px; // отступ блока form__module--address до  блока form__module--comment

  &::after {
    @include form-green-border;
    top: 16px;

    @media (min-width: $tablet-width) {
      top: 18px;
    }
  }
}

.form__module--adress .form__legend {
  margin-bottom: 35px; // отступ от заголовка
  background-image: linear-gradient(to right, $white 200px, transparent 200px);

  span {
    background-image: linear-gradient(to top, $white 30px, transparent 30px);
    padding-right: 15px;
  }
}

@media (min-width: $tablet-width) {
  .form__module--adress {
    margin-bottom: 65px; // отступ блока form__module--address до блока form__module--comment
  }
}

@media (min-width: $tablet-width) {
  .form__module--adress .form__legend {
    margin-bottom: 76px; // отступ от заголовка
    background-image: none;

    span {
      background-color: $white;
      padding: 0 42px 0 39px;
      margin-left: -39px;
    }

    br {
      display: none;
    }
  }
}

.form__module-adress-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__module--comment {
  position: relative;
  margin-bottom: 23px; // отступ блока form__module--comment до блока form__module--extra

  &::after {
    @include form-green-border;
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.form__module--comment .form__legend {
  margin-bottom: 38px; // отступ от заголовка

  span {
    background-color: $white;
    padding-right: 22px;
  }
}

@media (min-width: $tablet-width) {
  .form__module--comment {
    margin-bottom: 65px; // отступ блока form__module--comment до блока form__module--extra
  }
}

@media (min-width: $tablet-width) {
  .form__module--comment .form__legend {
    margin-bottom: 76px; // отступ от заголовка

    span {
      background-color: $white;
      padding: 0 38px 0 39px;
      margin-left: -39px;
    }
  }
}

.form__module--extra {
  position: relative;
  margin-bottom: 34px; // отступ блока form__module--comment до блока field-submit

  &::after {
    @include form-green-border;
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 24px;
    }
  }
}

.form__module--extra .form__field {
  margin: 0;
  margin-bottom: 23px; // расстояние между чекбокс-кнопками

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 42px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}


.form__module--extra .form__legend {
  margin-bottom: 34px;

  span {
    background-color: $white;
    padding-right: 24px;
  }
}

@media (min-width: $tablet-width) {
  .form__module--extra {
    margin-bottom: 54px; // отступ блока form__module--comment до блока field-submit
  }
}

@media (min-width: $tablet-width) {
  .form__module--extra .form__legend {
    margin-bottom: 57px;

    span {
      background-color: $white;
      padding: 0 38px 0 39px;
      margin-left: -39px;
    }
  }
}

.form__module-extra-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.form__legend {
  @include caption;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__submit {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__submit-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
