// Общая стилизация кнопок

.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 280px;
  min-height: 40px;
  font-family: $oswald;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  color: $white;
  background-color: $green;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $dark-green;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
