.page-footer {
  background-color: $gray;
}

.page-footer__map-image {
  display: block;
  margin: 0 auto;
}

.page-footer__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 39px; // отступ секции page-footer__links от секции page-footer__map
  padding-bottom: 22px; // отступ секции page-footer__links с сохранением фона

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @include desktop {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}


.page-footer__logo {
  padding-bottom: 52px;
  border-bottom: 1px solid $medium-gray;

  @include tablet {
    padding: 0;
    border: none;
  }
}

.page-footer__logo-title:hover,
.page-footer__logo-title:focus {
  opacity: 0.8;
}

.page-footer__logo-title:active {
  opacity: 0.6;
}

.page-footer__social {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 130px;
  padding-top: 20px;
  padding-bottom: 21px;
  margin: 0 auto;

  @include tablet {
    padding: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: $arial;
  color: $dark-gray;
  outline: none;

  &:hover,
  &:focus {
    .page-footer__copyright-icon {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    width: 173px;
    padding: 0;
  }
}

.page-footer__copyright-icon {
  fill: $over-gray;
  width: 27px;
  height: 34px;
}
