@media (min-width: $desktop-width) {
  .page-header--index {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      z-index: -1;
      height: 694px;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%),
        url("../img/index-background-desktop-cat.jpg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
    }
  }
}

.page-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; // отступ от блока page-header наверх
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.page-header__logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: content-box;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo::before {
  content: "";
  position: absolute;
  min-width: 101px;
  min-height: 18px;
  left: 42%;
  background-image: url("../img/header-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__logo img {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 59px;
  }

  @media (min-width: $tablet-width) {
    width: 202px;
    height: 60px;
  }
}
