.social {
  height: 32px;
}

.social__item {
  position: relative;
}

.social__icon {
  fill: $over-gray;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.social__icon--vkontakte {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 22px;
  height: 13px;

  @include tablet {
    top: 1px;
    left: 6px;
    width: 29px;
    height: 17px;
  }
}

.social__icon--instagram {
  position: absolute;
  top: 4px;
  left: 16px;
  width: 17px;
  height: 16px;

  @include tablet {
    top: -1px;
    width: 24px;
    height: 23px;
  }
}

.social__icon--facebook {
  position: absolute;
  top: 1px;
  left: 22px;
  width: 11px;
  height: 19px;

  @include tablet {
    top: -6px;
    left: 19px;
    width: 14px;
    height: 31px;
  }
}
